{% extends "admin/admin_layout.html" %}

{% block title %}Takso{% endblock %}}



{% block content %}
<h1>Sürücü Sil</h1>
<p>Sürücü silmek için gerekli alanları doldurunuz!</p>
<form action="{{ url_for('admin_delete_driver_results') }}" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Sürücü Adı</label>
        <input type="text" class="form-control" name="name" id="name">
    </div>
    <div class="mb-3">
        <label for="last_name" class="form-label">Sürücü Soyadı</label>
        <input type="text" class="form-control" name="last_name" id="last_name">
    </div>
    <button type="submit" class="btn btn-primary">Sürücüyü Bul</button>
</form>

{% for driver in drivers %}
<div class="container text-center">
    <div class="row">
        {% for driver in drivers %}
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                <img src="{{ driver.photo_link }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ driver.name }} {{ driver.last_name }}</h5>
                    <p class="card-text">{{ driver.biography }}</p>
                    <div class="row">
                        <div class="col">
                            <p>Şu tarihten beri onaylı sürücü: {{ driver.registered_date.strftime('%Y-%m-%d') }}</p>
                        </div>
                        {% if driver.overall_score is not none %}
                        <div class="col">
                            <p>{{driver.overall_rank}}/5</p>
                        </div>
                        {% else %}
                        <div class="col">
                            <p>Henüz oylanmadı</p>
                        </div>
                        {% endif %} 
                    </div>
                    <a href="{{ url_for('admin_delete_driver', id=driver.id) }}" class="btn btn-primary">Sürücüyü Sil</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}

{% endblock %}